# Ideia

Montar a grade de horários para 4 turmas, representando turmas do ensino médio (1º ano, 2º ano, 3ª ano e Cursinho). Cada turma tem os seguintes horários regulares:

|   | Segunda | Terça | Quarta | Quinta | Sexta |
|---|---|---|---|---|---|
| 08:20 - 10:00 |  |  |  |  |  |
| 10:15 - 11:55 |  |  |  |  |  |
| 14:00 - 15:40 |  |  |  |  |  |
| 15:55 - 17:35 |  |  |  |  |  |

Todas as turmas devem ter as seguintes disciplinas, com o seguinte número mínimo de aulas por semana (APS):

| Disciplina | APS |
|---|---|
| Matemática | 3 |
| Química | 2 |
| Física | 2 |
| Biologia | 2 |
| Português | 3 |
| História | 3 |
| Geografia | 3 |
| Artes | 1 |
| Inglês | 1 |

Alguns professores podem ministram mais de uma disciplina, a relação professores/disciplina está no arquivo *`disciplinas.csv`*.

## Regras

1. Um professor não pode estar em aula em duas turmas no mesmo horário
1. Todas as turmas devem cumprir as cargas horárias das disciplinas
1. Uma turma não deve ter duas aulas seguidas da mesma matéria (Ex: Matemática -> Matemática -> Química -> Portugês)
1. Deve-se evitar ao máximo que uma turma tenha aulas seguidas com o mesmo professor  
&nbsp;&nbsp;&nbsp;&nbsp;(Ex: Matemática -> Física -> Artes -> Inglês | Artes -> Matemática -> Física -> Inglês)

## Representação

Cada indivíduo será representado por uma matriz 4x20. Onde cada linha representa uma coluna, e cada coluna representa um horário, sendo que, cada grupo de 4 colunas representa um dia da semana.

Por exemplo, o seguinte horário fictício:

|   | Segunda | Terça | Quarta | Quinta | Sexta |
|---|---|---|---|---|---|
| 08:20 - 10:00 | Matemática | Português | Artes | História | Biologia |
| 10:15 - 11:55 | Química | História | Geografia | Português | Física |
| 14:00 - 15:40 | Física | Inglês | Matemática | História | Química |
| 15:55 - 17:35 | Biologia | Geografia | Geografia | Português | Matemática |

Seria representado da seguinte maneira, como uma linha da tabela

["Matemática", "Química", "Física", "Biologia", "Português", "História", "Inglês", "Geografia", "Artes", "Geografia", "Matemática", "Geografia", "História", "Português", "História", "Português", "Biologia", "Física", "Química", "Matemática"]

# Leitura do Dataset

In [1]:
import pandas as pd

dataset = pd.read_csv('disciplinas.csv', sep=';')

dataset

         Nome Professor  Aulas por Semana
0  Matemática    Manuel                 3
1     Química    Sérgio                 2
2      Física    Manuel                 2
3    Biologia    Sérgio                 2
4   Português   Cláudia                 3
5    História     Sônia                 3
6   Geografia     Sônia                 3
7       Artes     Pablo                 1
8      Inglês   Cláudia                 1

# Criar de uma população inicial

## Ideia

Um indivíduo será representado por uma matriz 4x20, onde cada linha representa uma turma (1º ano, 2º ano, 3º ano e Cursinho) e cada coluna representa um horário, sendo que cada grupo de 4 colunas representa um dia da semana.

A tabela será preenchida por números inteiros escolhidos aleatoriamente no intervalo (0, 8). Sendo que cada inteiro representa uma disciplina.

| Índice | Disciplina |
|---|---|
| 0 | Matemática |
| 1 | Química |
| 2 | Física |
| 3 | Biologia |
| 4 | Português |
| 5 | História |
| 6 | Geografia |
| 7 | Artes |
| 8 | Inglês |

Para a população inicial serão criadas 20 matrizes.

In [2]:
import random as rd

populacao_inical = []

for i in range(20):
    temp = []

    for line in range(4):
        temp.append([rd.randrange(0, 9) for _ in range(20)])
    
    populacao_inical.append(temp)

In [3]:
# Visualizar população inicial
for t in populacao_inical:
    print(t)

[[4, 2, 6, 1, 0, 7, 5, 8, 8, 5, 2, 4, 7, 5, 6, 6, 7, 2, 6, 0], [7, 2, 7, 4, 0, 5, 4, 5, 7, 4, 2, 2, 8, 1, 0, 7, 2, 3, 6, 4], [4, 2, 8, 8, 8, 7, 3, 1, 2, 2, 1, 6, 5, 6, 8, 1, 7, 4, 1, 0], [0, 8, 2, 6, 6, 7, 4, 8, 4, 4, 6, 7, 3, 3, 1, 5, 8, 6, 7, 5]]
[[7, 2, 3, 2, 3, 8, 5, 7, 4, 6, 8, 2, 4, 2, 3, 6, 0, 5, 5, 3], [1, 8, 3, 8, 6, 2, 6, 6, 8, 3, 4, 3, 8, 6, 4, 0, 6, 0, 1, 5], [6, 4, 1, 7, 3, 2, 6, 4, 8, 1, 1, 2, 7, 6, 2, 8, 1, 8, 5, 4], [1, 8, 4, 6, 7, 5, 7, 8, 3, 4, 7, 7, 3, 0, 8, 5, 2, 2, 7, 8]]
[[5, 1, 6, 1, 7, 1, 4, 5, 3, 8, 3, 1, 1, 2, 8, 0, 5, 7, 3, 2], [3, 5, 4, 6, 5, 7, 6, 6, 0, 6, 3, 6, 2, 7, 2, 6, 1, 5, 6, 5], [3, 4, 0, 6, 2, 0, 8, 7, 8, 8, 1, 4, 1, 8, 5, 3, 3, 5, 6, 3], [8, 0, 8, 3, 5, 5, 8, 0, 3, 8, 7, 4, 8, 5, 1, 1, 0, 7, 4, 2]]
[[7, 5, 8, 7, 2, 4, 3, 5, 2, 4, 5, 1, 2, 1, 1, 6, 5, 2, 1, 6], [3, 8, 7, 3, 0, 8, 1, 1, 4, 3, 1, 8, 1, 6, 5, 7, 6, 0, 6, 6], [0, 3, 0, 0, 7, 3, 4, 2, 7, 5, 8, 4, 8, 6, 4, 0, 5, 8, 0, 2], [7, 5, 8, 2, 8, 5, 4, 0, 2, 8, 7, 7, 2, 7, 1, 1, 6, 6, 2, 7]]
[[0, 2, 3, 0, 5, 5, 6, 6, 1, 5, 0, 0, 0, 2, 1, 3, 8, 2, 7, 5], [8, 7, 4, 4, 2, 2, 6, 6, 1, 8, 7, 5, 3, 2, 3, 5, 7, 6, 7, 2], [8, 7, 8, 3, 1, 1, 2, 2, 3, 7, 4, 3, 0, 1, 6, 1, 6, 4, 1, 7], [6, 1, 4, 4, 4, 8, 0, 6, 8, 2, 0, 1, 7, 4, 8, 2, 0, 4, 5, 4]]
[[5, 4, 7, 7, 3, 3, 4, 0, 0, 0, 8, 7, 2, 2, 4, 7, 7, 3, 1, 4], [2, 0, 4, 8, 2, 2, 3, 3, 1, 7, 1, 1, 5, 8, 7, 4, 6, 3, 8, 2], [2, 6, 5, 2, 3, 8, 2, 6, 0, 1, 1, 2, 5, 8, 3, 8, 5, 4, 4, 4], [7, 1, 3, 0, 6, 6, 7, 6, 5, 3, 0, 7, 0, 2, 3, 1, 8, 8, 3, 5]]
[[4, 3, 6, 4, 5, 8, 1, 7, 6, 4, 3, 6, 7, 6, 4, 5, 0, 6, 8, 2], [5, 1, 8, 1, 0, 3, 1, 6, 7, 7, 7, 1, 4, 5, 8, 7, 0, 0, 4, 3], [0, 4, 2, 8, 4, 6, 2, 5, 4, 3, 2, 6, 4, 4, 2, 2, 7, 6, 7, 6], [0, 8, 8, 3, 3, 5, 3, 4, 7, 1, 5, 8, 7, 5, 3, 5, 7, 0, 3, 1]]
[[8, 8, 7, 3, 8, 8, 3, 6, 4, 3, 5, 4, 1, 5, 5, 7, 5, 0, 5, 2], [8, 5, 8, 4, 0, 0, 8, 2, 4, 0, 5, 1, 2, 6, 5, 4, 5, 7, 3, 2], [8, 4, 6, 7, 4, 1, 8, 7, 3, 2, 7, 1, 8, 4, 6, 3, 5, 5, 5, 6], [4, 2, 2, 1, 2, 6, 5, 0, 6, 0, 1, 0, 8, 7, 3, 0, 3, 3, 3, 4]]
[[1, 7, 6, 7, 2, 2, 2, 0, 7, 2, 0, 2, 6, 1, 2, 0, 3, 6, 2, 5], [1, 4, 0, 3, 8, 2, 2, 7, 5, 2, 3, 1, 2, 7, 6, 1, 0, 2, 7, 8], [8, 0, 5, 6, 5, 5, 2, 6, 0, 3, 1, 0, 3, 3, 4, 5, 2, 0, 4, 7], [3, 1, 8, 5, 8, 5, 3, 2, 3, 6, 7, 4, 2, 2, 3, 1, 0, 0, 7, 4]]
[[5, 4, 4, 2, 5, 1, 7, 2, 6, 8, 7, 0, 0, 3, 3, 0, 8, 5, 1, 8], [2, 3, 3, 5, 1, 4, 8, 0, 8, 1, 7, 2, 6, 5, 5, 1, 5, 1, 7, 6], [6, 5, 2, 3, 7, 5, 3, 1, 6, 2, 4, 1, 7, 4, 5, 5, 4, 0, 8, 7], [5, 5, 8, 1, 5, 4, 1, 3, 0, 6, 3, 0, 3, 5, 6, 4, 4, 6, 7, 1]]
[[6, 5, 5, 3, 0, 4, 1, 6, 2, 2, 5, 1, 3, 6, 7, 3, 3, 7, 3, 8], [0, 2, 0, 3, 1, 0, 2, 1, 1, 3, 6, 4, 3, 3, 8, 6, 6, 4, 0, 5], [1, 5, 0, 5, 6, 2, 6, 0, 8, 1, 3, 4, 7, 5, 4, 5, 2, 4, 2, 2], [6, 8, 2, 3, 8, 8, 8, 6, 0, 5, 5, 3, 7, 6, 7, 8, 4, 5, 6, 5]]
[[4, 0, 0, 6, 5, 4, 6, 3, 5, 6, 6, 7, 8, 6, 1, 1, 8, 2, 3, 2], [6, 7, 3, 7, 6, 2, 5, 6, 3, 7, 3, 3, 3, 3, 5, 6, 6, 0, 6, 2], [0, 8, 1, 6, 7, 4, 2, 5, 4, 5, 6, 3, 5, 8, 2, 5, 1, 0, 3, 7], [1, 0, 0, 4, 7, 4, 6, 2, 1, 8, 2, 0, 6, 1, 1, 1, 8, 7, 6, 7]]
[[1, 5, 4, 2, 1, 2, 3, 0, 3, 5, 8, 0, 8, 5, 6, 6, 8, 4, 1, 8], [4, 2, 4, 2, 5, 0, 7, 6, 3, 4, 0, 6, 4, 2, 4, 7, 6, 2, 3, 6], [0, 7, 0, 5, 0, 7, 6, 7, 0, 7, 5, 3, 2, 4, 0, 0, 6, 6, 4, 4], [1, 4, 5, 0, 2, 0, 0, 4, 3, 1, 4, 4, 7, 8, 0, 2, 2, 5, 6, 8]]
[[3, 8, 6, 1, 4, 6, 8, 4, 8, 8, 0, 4, 2, 6, 3, 5, 6, 1, 7, 4], [1, 1, 8, 8, 1, 4, 0, 2, 1, 3, 4, 4, 4, 0, 3, 1, 6, 8, 0, 3], [3, 4, 0, 0, 1, 3, 4, 3, 4, 2, 4, 3, 1, 3, 4, 6, 7, 3, 3, 5], [2, 0, 3, 0, 3, 6, 3, 4, 8, 1, 2, 0, 8, 1, 8, 5, 8, 5, 0, 8]]
[[0, 4, 7, 7, 6, 0, 0, 8, 4, 4, 3, 6, 0, 3, 8, 4, 4, 1, 2, 0], [3, 4, 5, 8, 0, 5, 1, 8, 2, 8, 7, 5, 3, 0, 2, 0, 2, 7, 1, 6], [6, 2, 6, 2, 6, 3, 7, 4, 3, 7, 1, 8, 4, 4, 2, 1, 1, 4, 3, 1], [8, 2, 3, 5, 5, 3, 5, 3, 5, 5, 1, 6, 0, 4, 4, 0, 1, 5, 3, 3]]
[[5, 5, 2, 6, 7, 0, 1, 8, 4, 0, 6, 6, 5, 1, 5, 4, 6, 0, 5, 4], [5, 0, 5, 6, 0, 3, 6, 2, 6, 7, 3, 7, 4, 4, 6, 3, 6, 0, 8, 6], [5, 1, 8, 6, 3, 3, 3, 7, 7, 1, 4, 6, 3, 1, 3, 5, 3, 5, 6, 6], [5, 2, 2, 7, 1, 8, 3, 0, 0, 4, 4, 5, 7, 0, 0, 3, 7, 2, 4, 0]]
[[6, 2, 1, 4, 8, 6, 5, 0, 4, 2, 4, 4, 4, 7, 6, 6, 5, 3, 3, 7], [4, 3, 1, 7, 1, 0, 2, 1, 8, 6, 4, 3, 2, 8, 4, 6, 7, 0, 1, 0], [4, 8, 6, 1, 4, 2, 4, 4, 7, 0, 0, 1, 5, 8, 0, 4, 6, 1, 8, 5], [5, 5, 2, 8, 7, 5, 0, 7, 6, 2, 0, 2, 2, 5, 0, 7, 8, 7, 7, 1]]
[[7, 8, 0, 1, 6, 6, 5, 2, 7, 6, 6, 3, 1, 3, 0, 4, 6, 6, 5, 5], [0, 8, 5, 4, 6, 4, 2, 8, 2, 3, 6, 5, 2, 5, 7, 5, 6, 3, 7, 1], [0, 2, 8, 6, 8, 0, 8, 7, 0, 5, 4, 5, 7, 1, 7, 0, 6, 1, 5, 3], [8, 4, 4, 6, 5, 5, 4, 4, 1, 5, 2, 7, 7, 1, 5, 8, 4, 8, 3, 4]]
[[1, 0, 1, 6, 3, 2, 0, 7, 4, 3, 3, 7, 8, 7, 5, 8, 1, 4, 6, 7], [3, 1, 2, 6, 8, 2, 0, 2, 8, 0, 5, 1, 1, 4, 8, 3, 8, 3, 4, 0], [7, 5, 4, 2, 6, 2, 8, 0, 5, 1, 2, 7, 2, 2, 6, 6, 7, 3, 7, 7], [8, 8, 8, 4, 2, 0, 8, 3, 7, 8, 7, 3, 0, 0, 0, 6, 4, 3, 1, 3]]
[[7, 2, 8, 5, 1, 7, 2, 2, 2, 8, 8, 0, 0, 4, 7, 4, 0, 5, 3, 5], [4, 6, 8, 5, 7, 5, 6, 3, 5, 3, 4, 6, 3, 1, 5, 1, 2, 4, 6, 2], [2, 6, 3, 6, 5, 6, 6, 1, 1, 0, 3, 7, 2, 6, 2, 1, 5, 7, 5, 6], [0, 0, 3, 1, 7, 1, 5, 0, 1, 8, 4, 2, 1, 1, 3, 1, 8, 6, 8, 0]]

# Função Fitness